html {
    scroll-behavior: smooth;
}

body {
    font-family: 'lora'sans-serif;
    margin: 0;
    
    
}

.background-image {
    
    filter: blur(3px);
    background-image: url(/images/ceu\ bg\ 6.jpg); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    height: 100vh; /* Sets the height to full viewport height */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    z-index: -1;
    
    
}

.background-image2 {
    
    filter: blur(3px);
    background-image: url(/images/ceu\ bg\ 6.jpg); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    height: 100vh; /* Sets the height to full viewport height */
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    z-index: -1;
    
    
}


.index-link {
    position: absolute;
    top: 0;
    left: 10;
    z-index: 1000;
}


.container {
    position: absolute;
    top: 200px;
    left: 250px;
    z-index: 1000;
}



















nav {

    
     
    background-color: rgb(46, 6, 54);
    opacity: 1;
    padding: 5px;
    position: absolute; /* Fixes the nav */
    right: 0; /* Positions it on the right */
    top: 0; /* Aligns it to the top */
    height: 45px;
    width: 500px; /* Set width for the nav */
    z-index: 1000; /* Ensures it stays on top */
    border-radius: 0;
}

.nav-list {
    list-style: none; /* Removes bullet points */
    padding: 0; /* Removes default padding */
    display: flex; /* Aligns items in a row */
}

.nav-list li {
    margin: 0 40px; /* Spacing between links */
    
}

.nav-list a {
    color: white; /* Text color */
    text-decoration: none; /* Removes underline */
    
}

.nav-list a:hover {
    transition: background-color 0.5s, color 0.5s;
    background-color: #000000;
    color: #f3c1f1;
    padding: 2px;
    display: block;
    border-radius: 20px;
    
}
